<% provide(:title, 'Group') %>
<% provide(:forwarding_url, groups_path) %>

<div class="show-container">
  <div class="row text-center">
    <%= image_tag group_icon(@group), alt: "group icon" %>
  </div>

  <div class="details">
    <div class="row">
      <div class="col-12">
        <strong>Name:</strong>
        <%= @group.name %>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <strong>Creator:</strong>
        <%= @group.user.name %>
      </div>
    </div>
  </div>
</div>

<div class="btn-container">
  <%= link_to 'Edit', edit_group_path(@group), class: 'btn btn-green' %>
</div>

