<% provide(:title, 'My Time Entries') %>
<p id="notice"><%= notice %></p>

<div class="total-amount">
  Total amount: <%= @current_user.total_amount %>
</div>

<div class="container-fluid">
  <ul>
    <%= render @my_time_entries %>
  </ul>
</div>

<%= link_to 'Add new', new_time_entry_path %>
