<% provide(:title, 'Time Entries') %>

<ul class="index-ul">
  <%= render @time_entries %>
</ul>

<div class="btn-container">
  <%= link_to 'Add new', new_time_entry_path, class: 'btn btn-green' %>
</div>
