/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "font-awesome-sprockets";
@import "font-awesome";

:root {
  --main: #3778c2;
}

.bg-main {
  background-color: var(--main);
}

.btn-main, .btn-main:visited {
  color: #fff;
  background-color: var(--main);
}

.btn-header {
  position: absolute;
  margin-top: 10px;
}

.page-title {
  color: white;
}

.form {
  padding-top: 5px;
}

@media (max-width: 576px) { 
  h1 {
    font-size: 5vw;
  }
}

.alert {
  margin: 5px 0 5px 0;
}

#error_explanation {
  width: 100%;
}

.field_with_errors {
  width: 100%;
}

.main-avatar-wrapper {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.main-avatar-wrapper img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  float: left;
  margin-right: 10px;
  object-fit: cover;
  height: 150px;
  width: 150px;
}

.avatar-wrapper {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  margin-right: 5px;
}

.gravatar_edit {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.avatar-wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  float: left;
  margin-right: 10px;
  object-fit: cover;
  height: 50px;
  width: 50px;
}

#change-img-field {
  visibility: hidden;
  display: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  // max-width: 100%;
  overflow: hidden;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: var(--main);
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: var(--main);
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { 
//   h1 {
//     font-size: 36px;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }
