<div class="row bg-main">
  <nav class="navb bg-main">
    <div>
      <a href="<%= yield(:forwarding_url) %>" class="btn text-white" type="button">
        <i class="fas fa-arrow-left"></i>
      </a>
    </div>
    <div>
    <h1 class="text-center text-uppercase page-title"><%= yield(:title) %></h1>
    </div>
    <div>
      <a class="btn">
        <i class="fas fa-search"></i>
      </a>
    </div>
  </nav>
</div>

