<div class="row bg-main">
  <a href="<%= session[:forwarding_url] %>" id="sidebarCollapse" class="btn btn-main btn-header">
    <i class="fas fa-arrow-left"></i>
  </a>
  <h1 class="text-center text-uppercase page-title"><%= yield(:title) %></h1>
</div>